body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #0277BD;
}

a:hover {
    text-decoration: underline #0277BD;
}

.no-text-decoration {
    text-decoration: none;
}

.into-step-container {
    height: 100vh;
    display: flex;
    background: #37474F;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.into-step-container .logo {
    margin-bottom: 30px;
}

.metamask-login-card {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.metamask-login-card .text {
    line-height: 60px;
}

.metamask-need-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.metamask-need-card .text {
    line-height: 60px;
}

.login-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}