body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app {
}

.app .app-bar {
}

.app-bar .title {
    flex-grow: 1;
}

.need-login-card-container {
    height: 100vh;
    display: flex;
    background: #37474F;
}

.need-login-card-container .need-login-card {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
}

.need-login-card .text {
    line-height: 60px;
}